.profileImage {
    margin-left: 13px;
    width: 28px;
    height: 29px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 2px;
}

.container {
    margin-bottom: 24px;
    padding-left: 12px;
}
.info {
   text-align: left;
   margin-left: 7px;
}

.name {
    font-size: 21px;
    font-weight: bold;
    color: #434343;
}

.subname{
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
    color: #C7C7C7;
    text-transform: uppercase;
}


.chip{
    margin-top: 12px;
    text-align: center;
}

.chipContent {
    float: right;
    margin-right: 24px;
    font-weight: bold;
    color: #434343;
    font-size: 21px;
}

.timeIndicator {
    color: #C7C7C7;
    font-weight: lighter;
}