.profileImg {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.spacer {
    flex: 1 1 auto;
}

.signIn {
    color: #434343;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}