.profileImg {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 1px 2px black;
    background-image: url(https://avatars2.githubusercontent.com/u/10846244?s=460&v=4);
}

.spacer {
    flex: 1 1 auto;
}