.profileImg {
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 1px 2px black;
}

.spacer {
    flex: 1 1 auto;
}

.signIn {
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 1px black; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}