<mat-toolbar>
    <mat-toolbar-row>
        <mat-tab-group disableRipple (selectedTabChange)="navigate($event)">
            <div *ngFor="let route of navigationRoutes"> 
                <mat-tab label="{{route.name}}"></mat-tab>
            </div>
        </mat-tab-group>
        <span class="spacer"></span>
        <div class="profileImg"></div>
        <button (click)="sidemenu.toggle()" mat-icon-button *ngIf="isOver()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>