.profileImage {
    margin-left: 13px;
    width: 28px;
    height: 29px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 1px 2px black;
    background-image: url(https://avatars2.githubusercontent.com/u/10846244?s=460&v=4);
    margin-top: 2px;
}

.positionChange {
    display: inline-block;
    color: green;
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
}
.position {
    display: inline-block;
    margin-left: 4px;
    color: #27829F;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}
.info {
    display: inline-block;
    margin-left: 7px;
}
.name {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #27829F;
}

.subname {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    color: #C7C7C7;
}

.chip{
    float: right;
    margin-top: 12px;
}

.mat-list-item-content {
    width: 10px;
}

.item {
    margin-top: 10px;
}