<div *ngIf="users" class="container row align-center">
  <div class="second column">
    <div class="position row align-center">
      <!-- <div class="positionChange">
        <img src="../../assets/position_{{second.positionChange}}.svg"/>
      </div> -->
      <div class="positionNumber">
        2
      </div>
    </div>
    <div *ngIf="users[1].avatar" class="avatar align-center" [ngStyle]="{'background-image': 'url(' + users[1].avatar + ')'}"></div>
    <div class="info">
      <div class="name">
        {{ (users[1].name.length>6)? (users[1].name | slice:0:6)+'..':(users[1].name) }}
      </div>
      <div *ngIf="users[1].role" class="subName">
        {{users[1].role}}
      </div>
    </div>
    <div class="chipContainer">
      <div class="chip">
        {{users[1].score}}
      </div>
    </div>
  </div>
  <div class="first column">
    <div class="position row align-center">
      <!-- <div class="positionChange">
        <img src="../../assets/position_{{winner.positionChange}}.svg"  />
      </div> -->
      <div class="positionNumber">
        1
      </div>
    </div>
    <div class="winnerAvatar align-center" [ngStyle]="{'background-image': 'url(' + users[0].avatar + ')'}"></div>
    <div class="info">
      <div class="name">
        {{ (users[0].name.length>6)? (users[0].name | slice:0:6)+'..':(users[0].name) }}
      </div>
      <div class="subName">
        {{users[0].role}}
      </div>
    </div>
    <div class="chipContainer">
      <div class="chip">
        {{users[0].score}}
      </div>
    </div>
  </div>
  <div class="third column">
    <div class="position row align-center">
      <!-- <div class="positionChange">
        <img src="../../assets/position_{{third.positionChange}}.svg" />
      </div> -->
      <div class="positionNumber">
        3
      </div>
    </div>
    <div class="avatarContainer">
      <div class="avatar" [ngStyle]="{'background-image': 'url(' + users[2].avatar + ')'}"></div>
    </div>
    <div class="info">
      <div class="name">
        {{ (users[2].name.length>6)? (users[2].name | slice:0:6)+'..':(users[2].name) }}
      </div>
      <div class="subName">
        {{users[2].role}}
      </div>
    </div>
    <div class="chipContainer">
      <div class="chip">
        {{users[2].score}}
      </div>
    </div>
  </div>
</div>
