<div class="container row align-center">
  <div class="second">
    <div class="position row align-center">
      <div class="positionChange">
          <img src="../../assets/position_increase.svg" />
      </div>
      <div class="positionNumber">
        2
      </div>
    </div>
    <div class="avatar align-center" ></div>
    <div class="info">
      <div class="name">
          Jesper
      </div>
      <div class="subName">
          Frontend
      </div>
    </div>
  </div>
  <div class="first">
    <div class="position row align-center">
      <div class="positionChange">
          <img src="../../assets/position_unchanged.svg" />
      </div>
      <div class="positionNumber">
        1
      </div>
    </div>
    <div class="winnerAvatar align-center"></div>
    <div class="info">
        <div class="name">
            Jesper
        </div>
        <div class="subName">
            Frontend
        </div>
      </div>
  </div>
  <div class="third">
    <div class="position row align-center">
      <div class="positionChange">
          <img src="../../assets/position_decrease.svg" />
      </div>
      <div class="positionNumber">
        3
      </div>
    </div>
    <div class="avatarContainer">
      <div class="avatar"></div>
    </div>
    <div class="info">
      <div class="name">
          Jesper
      </div>
      <div class="subName">
          Frontend
      </div>
    </div>
  </div>
</div>