.container {
    width: 100%;
    margin: 0 auto;
}

.second {
    margin-top: 20px;
}

.first {
    margin-left: 40px;
}

.third{
    margin-top: 20px;
    margin-left: 40px;
}

.positionChange {
    margin-top: 4px;
}
.positionNumber {
    margin-left: 4px;
    color: #27829F;
    font-size: 20px;
    font-weight: bold;
}
.winnerAvatar {
    margin-top: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 1px 2px black;
}

.avatar {
    margin-top: 3px;
    margin-left: 4px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 1px 2px black;
}

.avatarContainer {
    width: 100%;
    margin: 0 auto;
}
.info {
    text-align: center;
    margin-top: 9px;
}
.name {
    font-size: 16px;
    color: #27829F;
    font-weight: bold;
}
.subName {
    font-size: 14px;
    color: #C7C7C7;
    font-weight: bold;
}

.chipContainer {
    margin-top: 10px;
}
.chip {
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    width: 40px;
    height: 19px;
    color: #27829F;
    background-color: #ECECEC;
}