.root {
    width: 328px;
    height: 100%;
    max-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.content {
    height: 100%;
    background-color: #ffffff;
}

.title {
    text-align: left;
    padding: 24px;
    color: #434343;
    opacity: 1;
    font-size: 20px;

}

@keyframes MyAnimation {
    0% {
      padding-left: 100px;
      opacity: 0;
    }
    100% {
      padding-left: 0px;
      opacity: 1;
    } 
  }
  
  .my-animation {
    animation: MyAnimation 1s;
  }