/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~foundation-sites/scss/foundation';
@include foundation-flex-classes;
@include foundation-flex-grid;

html {
    height: 100%;
    width: 100%;
    // background-image: linear-gradient(to top left, #43cea2 0%, #185a9d 100%);
    background-image: linear-gradient(to top left, #C2DADE 0%, #FFFFFF 100%);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
 }

.mat-tab-label {
    color: #434343;
    opacity: 0.62 !important;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.mat-tab-label:focus:not(.mat-tab-disabled){
    color: #434343;
    opacity: 1 !important;
}

.mat-tab-label-active {
    color: #434343;
    opacity: 1 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #434343;
}

.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 0px;
}

.mat-toolbar {
    background: transparent;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: transparent;
}

.mat-list-item {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 22px;
}

.mat-icon {
    color: #434343;
}